@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.main_slide_wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 150px;
}

.navbar-logo>.highlight {
  color: #ff8800;
}

.navbar-logo > .highlight {
  font-weight: bold;
  font-family: "Poor Story", system-ui;
  font-size: 50px;
}

.navbar-logo > .main_text {
  color: rgb(35, 35, 35);
  font-size: 30px;
  font-family: "Cute Font", sans-serif;
  font-weight: 800;
}

.navbar-logo {
  margin-top: 50px;
}

.navbar>.login {
  padding-left: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f2eee0;
}

.navbar-li-a:hover {
  color: #000000;
  /* 호버시 색상 변경 */
}

.lockStatusButton {
  color: #ff0000; /* 빨간색 */
  /* 다른 스타일 속성들 */
}

.unlockStatusButton {
  color: #00ff00; /* 초록색 */
  /* 다른 스타일 속성들 */
}

.navbar-li {
  margin-right: 35px;
  position: relative;
  background-color: rgb(255, 159, 69);
  border-radius: 20px;
  font-size: 18px;
  padding: 6px;
  box-shadow: 3px 3px 8px 3px rgb(177, 177, 177);
  min-width: 80px;
}
.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-logo p {
  font-size: 40px;
  margin-right: 30px;
  font-family: "Poor Story", system-ui;
  font-weight: 800;
}

#img {
  margin-right: 30px;
  width: 200px;
  height: 200px;
  padding: 10px;
}

.navbar-items {
list-style: none;
padding: 20px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.navbar>.sign {
display: inline-block;
padding: 10px 20px;
text-align: center;
text-decoration: none;
cursor: pointer;

border-radius: 15px; /* 모서리 둥글게 */
background-color: #5de73a; /* 초록색 배경색 */
color: white; /* 텍스트 색상 */
font-size: 16px;
}

.navbar-ul {
display: flex;
font-size: 20px;
text-align: center;
text-decoration: none;
flex-wrap: nowrap;
justify-content: space-evenly;
align-items: center;
list-style: none;
margin: 0;
/* 추가: 기본 마진 제거 */
display: flex;
}

.navbar-li-a {
text-decoration: none;
/* 추가: a 태그의 기본 텍스트 밑줄 제거 */
color: #ffffff;
/* 추가: a 태그의 기본 색상 사용 */
font-family: "Cute Font", sans-serif;
;
}

body {
  margin: 0;
  padding: 0;
}

.footer_wrap {
  background-color: rgb(35, 35, 35);
  width: 100%;
  height: 140px;
  position: relative;
}

.footer_main {
  color: rgb(212, 212, 212);
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.footer_main > .list_wrap {
  margin-right: 40px;
  vertical-align: top;
}

.list_wrap > .item {
  display: inline-block;
  margin-right: 10px;
}

.footer_item {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_item > span {
  color: rgb(148, 148, 148);
  margin-top: 10px;
}

.footer_item > .image_url {
  width: 30px;
  filter: invert(100%);
  margin: 0 10px 0 40px;
}

.recommendPage {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  color: white;
  width: 400px;
  height: 700px;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recommendFormHeader {
  display: flex;
  justify-content: center;
}

.prevPageMoveBtn {
  text-decoration: none;
  color: #eee;
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.recommendForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  height: 100%;
}

.restaurantNameBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 3rem;
}

.restaurantName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.recommendIpt {
  margin: 0.5rem 0;
  width: 23rem;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 1rem;
  box-sizing: border-box;
  margin-left: 0.5rem;
}

#foodCategory,
#locationCategory {
  margin: 0.5rem 0;
  width: 23rem;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 1rem;
  box-sizing: border-box;
  margin-left: 0.5rem;
}

.shareBtn {
  border: 1px solid #eee;
  background-color: transparent;
  padding: 1rem 1rem;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}

.search_wrap{
  position: relative;
  text-align: center;
  transition: transform .3s ease;
}

.search form{
  margin-top: 30;
}

.search_wrap input {
width: 300px;
height: 40px;
padding: 10px 100px 10px 30px;
border: 1px solid gray;
border-radius: 30px;
margin: 30px auto;
}
.search_wrap input:hover{
transform: translate(3px, 3px);
filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.161));
}

/* list */
.board_list{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.board_list > .item {
width: 30%;
height: 440px;
margin: 40px 0;
border-bottom: 1px solid #cdcdcd;
margin-left: auto;
margin-right: auto;
}

.board_list > .itemImage {
width: 100%;
height: 350px;
}

.itemImage a img {
width: 100%;
height: 320px;
object-fit: cover;
}

.itemImage:hover{
transform: scale(1.05);
transition: .3s ease;
}

.itemDesc {
overflow: hidden;
white-space: nowrap;
}

.itemDesc h1 {
display: inline-block;
font-size: 32px;
margin-bottom: 20px;
}

.itemDesc p {
font-size: 15px;
color: #737373;
}

:root {
  --card-margin: 10px;
  --carousel-height: 300px;
}

/* 텍스트의 스타일 */
.overlay-text {
  position: absolute;
  top: 50%; /* 부모 요소 상단에서 50% 위치에 배치 */
  left: 50%; /* 부모 요소 왼쪽에서 50% 위치에 배치 */
  transform: translate(
    -50%,
    -50%
  ); /* 텍스트의 중심을 부모 요소의 가운데로 이동 */
  color: #fff; /* 텍스트 색상 */
  font-size: 24px; /* 텍스트 크기 */
  font-weight: bold; /* 텍스트 굵기 */
  text-align: center; /* 텍스트 가운데 정렬 */
}

.slick-track {
  display: flex;
}

.carousel {
  position: relative;
  width: 90%;
  max-width: 3000px;
  margin: 0 auto;
}

.is-control {
  background: 0;
  border: 0;
  padding: 0 10px;
  z-index: 1;
  cursor: pointer;
  font-size: 40px;
  color: rgba(255, 134, 21, 0.945);
  transition: all 0.2s linear;
}

.is-control:hover {
  color: rgb(255, 149, 29);
}

.is-control:focus {
  outline: none;
  background-color: rgba(255, 162, 55, 0.8);
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}

.previous-button {
  position: absolute;
  left: -50px;
  top: calc(var(--carousel-height) / 2 - 30px);
}

.next-button {
  position: absolute;
  right: -50px;
  top: calc(var(--carousel-height) / 2 - 30px);
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  transition: all 0.1s linear;
}

.slick-slide:not(:last-of-type) {
  margin-right: var(--card-margin);
}

.card a {
  text-decoration: none;
}

.card .image {
  height: 300px;
  overflow: hidden;
}

.card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .title {
  margin: 0;
  padding: 10px 10px 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #ffb35d;
}

.card:hover .image img {
  filter: blur(3px);

  transform: scale(1.1); /* 이미지 확대 */
  transition: filter 0.3s ease, transform 0.3s ease; /* 트랜지션 효과 추가 */
}

.card:hover .title {
  text-decoration: underline;
}

.card a:focus {
  outline: none;
}

.card:focus-within {
  border-color: hsl(204, 86%, 53%);
  box-shadow: 0 0 0 2px hsl(204, 86%, 53%);
}

.card:focus-within .title,
.card:focus-within .content {
  color: hsl(217, 71%, 53%);
}

.card:focus-within .title {
  text-decoration: underline;
}

.credits {
  margin-left: 40px;
  padding: 10px;
  font-size: 14px;
  color: rgb(255, 144, 17);
  text-decoration: none;
  opacity: 0.7;
}

.credits img {
  height: 30px;
  margin-left: 5px;
  margin-top: -2px;
  vertical-align: middle;
}

.credits:hover,
.credits:focus {
  opacity: 1;
}

.joinPage {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  color: white;
  width: 400px;
  height: 400px;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.joinFormHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin: 2rem 0;
}

.joinForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
}

.joinUserId, .joinUserPwd {
  margin: 0.5rem 0;
  width: 15rem;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 1rem;
  background-color: #eee;
  border: none;
}

.joinBtn {
  border: 1px solid #eee;
  padding: 1.25rem 1.5rem;
  border-radius: 1rem;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.login_wrap {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 0 0;
}

.logged-in {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /* 공간을 균등하게 분배하여 가로 정렬 */
  width: 100%; /* 부모 요소에 가로 정렬을 맞추기 위해 100%로 설정 */
}

#login-top {
  font-weight: bold;
  font-size: 65px;
  margin: 15px;
}

#login-body {
  font-weight: bold;
  font-size: 37px;
  margin: 5px;
}

.form-container > form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

#login-phrase {
  margin: 10px;
}

#sign-up-body {
  font-weight: bold;
  font-size: 37px;
  margin: 5px;
}

#sign-up-phrase {
  font-size: 22px;
  margin: 25px;
  width: 300px;
  height: 100px;
}

.logged-in-phrases {
  font-weight: 500;
  font-size: 34px;
  margin-bottom: 20px; /* 문장 사이에 여백 추가 */
}

#login-button {
  border-radius: 20px;
  border: 1px solid rgb(34, 193, 195);
  background-color: rgb(34, 193, 195);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  /* margin-top: 20px; */
}

#sign-up-button {
  border-radius: 20px;
  border: 1px solid rgb(34, 193, 195);
  background-color: rgb(34, 193, 195);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  /* margin-top: 20px; */
}

#sign-up-button:active {
  transform: scale(0.95);
}

#sign-up-button:focus {
  outline: none;
}

#sign-up-button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.container-logged-in {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* justify-content: space-around;  */
  /* justify-content: space-around; 중앙 정렬 대신 양쪽으로 여백을 주기 */
  /* flex-direction: column; */
  padding: 0 50px;
  height: 50%;
  width: 50%;
  text-align: center;
}

.login_input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.login_container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.login-message {
  color: gray;
  font-size: 16px;
  padding: 25px;
}