<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
  </head>
  <body>
    <footer class="footer_wrap">
      <div class="footer_main">
        <ul class="list_wrap">
          <li class="item">개인정보처리방침</li>
          <li class="item">법적고지</li>
          <li class="item">사이트맵</li>
          <li class="item">고객센터</li>
        </ul>
        <div class="footer_item">
          <span>항해99 19기 미니프로젝트 1조</span>
          <div class="image_url">
            <a href="https://github.com/coco-camel/food"
              ><img id="git_url" src="https://simpleicons.org/icons/github.svg"
            /></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
