<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맛집 발견 대장정</title>
</head>

<body>
<!-- 담당 이혜인 , 김준오-->
<nav>
  <li>
    <ul>한식</ul>
    <ul>중식</ul>
    <ul>일식</ul>
    <ul>양식</ul>
</li>
</nav>

<input type="text" placeholder="검색어 입력">

<p>프로젝트 주제 설명란</p>


<img src="#"> <p>카테고리 이동</p>
<img src="#"> <p>카테고리 이동</p>
<img src="#"> <p>카테고리 이동</p>
<img src="#"> <p>카테고리 이동</p>

<button>맛집추가</button>



</div>

<img src="#"> <p>맛집이름</p>
<img src="#"> <p>맛집이름</p>
<img src="#"> <p>맛집이름</p>
<img src="#"> <p>맛집이름</p>


<footer>
    <p>관리자 로그인</p>
</footer>


</body>

</html>