<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
  </head>
  <body>
    <nav>{% include 'header.html' %}</nav>
    <div class="joinPage">
      <div class="joinFormHeader">
        <h2>회원가입</h2>
      </div>
      <form
        action="{{url_for('user_create')}}"
        ,
        method="POST"
        class="joinForm"
      >
        <!-- 아이디 중복 경고창 -->
        {% with messages = get_flashed_messages() %} {% if messages %}
        <script>
          alert("{{messages[-1]}}");
        </script>
        {% endif %} {% endwith %}
        <input
          type="text"
          placeholder="아이디를 입력하세요."
          id="user"
          name="user"
          class="joinUserId"
          required
        />

        <input
          type="password"
          placeholder="비밀번호를 입력하세요."
          id="password"
          name="password"
          class="joinUserPwd"
          required
        />
        <!-- 완료되면 로그인페이지로 이동 -->
        <button type="submit" class="joinBtn">회원가입</button>
      </form>
    </div>
  </body>
</html>
