<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <style>
        #button {
            color: #fff;
            font-size: 16px;
            background-color: #6A24FE;
            margin-top: 50px;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
<!-- 담당 김우정 -->
    <h3>Login Page</h3>
    <div class="myinput">
        <p>ID : <input type="text" placeholder="Email"></p>
        <p>PW : <input type="text" placeholder="Password"></p>
    </div>
    <p>회원가입</p> <P>비밀번호를 잊으셨나요?</P>
    <button>Login</button>

</body>

</html>