<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <style>
        #button {
            color: #fff;
            font-size: 16px;
            background-color: #6A24FE;
            margin-top: 50px;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
    
<!-- 담당 김우정 -->
    {% block content %}
        {% if session['login'] %}
            <p>이미 로그인하셨습니다😄</p>
            <a href="/">메인 화면</a>
            <a href="/logout">로그아웃</a>
        {% else %}
    
    <h3>Login Page</h3>
        <div class="myinput">
            <form action="/login" method="POST">
                <p>ID : <input type="text" name="id" placeholder="Id"></p>
                <p>PW : <input type="text" name="password" placeholder="Password"></p>
                <input type="submit" value="로그인">
                <br><br>
                <a href="/join">회원가입</a> <button>비밀번호를 잊으셨나요?</button>
            </form>
        </div>
        {% endif %}
        
        {% if message and not session.get('login') %}
            <p style="color: red;">{{ message }}</p>
        {% endif %}
    {% endblock %}

</body>

</html>