<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
  </head>
  <body>
    <!-- 담당 이충녕 -->

    <div class="recommendPage">
      <div class="recommendFormHeader">
        <h2>추천 맛집 공유</h2>
        <!-- serch 페이지 이동 -->
        <a
          href="{{url_for('main_cate', category = 'all')}}"
          class="prevPageMoveBtn"
          >←</a
        >
      </div>
      <form
        action="{{url_for('recommend_restaurant')}}"
        ,
        method="POST"
        class="recommendForm"
      >
        <div class="restaurantNameBox">
          <label for="name">맛집 이름</label>
        </div>
        <div class="restaurantName">
          <input
            placeholder="맛집 이름을 입력하세요."
            name="name"
            id="name"
            class="recommendIpt"
          />
        </div>

        <div class="categoryBox">
          <label for="category">카테고리</label>
        </div>
        <select name="category" id="foodCategory">
          <option value="한식" name="한식">한식</option>
          <option value="중식" name="중식">중식</option>
          <option value="일식" name="일식">일식</option>
          <option value="양식" name="양식">양식</option>
        </select>

        <div class="categoryBox">
          <label for="location">지역선택</label>
        </div>
        <select name="location" id="locationCategory">
          <option value="서울" name="서울">서울</option>
          <option value="인천" name="인천">인천</option>
          <option value="경기" name="경기">경기</option>
          <option value="부산" name="부산">부산</option>
          <option value="제주" name="제주">제주</option>
        </select>

        <div class="selectTitle">
          <label for="description">맛집 설명</label>
        </div>
        <div class="inputBox">
          <input
            placeholder="추천 맛집에 대해 설명해주세요."
            name="description"
            id="description"
            class="recommendIpt"
          />
        </div>

        <div class="selectTitle">
          <label for="location_url">맛집 주소</label>
        </div>
        <div class="location_urlBox">
          <input
            placeholder="맛집 네이버 플레이스 url을 입력해주세요"
            name="location_url"
            id="location_url"
            class="recommendIpt"
          />
        </div>

        <div class="selectTitle">
          <label for="image_url">음식 이미지</label>
        </div>
        <div class="image_urlBox">
          <input
            placeholder="음식 이미지를 입력해주세요."
            name="image_url"
            id="image_url"
            class="recommendIpt"
          />
        </div>

        <button type="submit" class="shareBtn">공유</button>
      </form>
    </div>
  </body>
</html>
