<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <!-- 카테고리 -->

      <div class="navbar">영역300</div>

      <a href="{{url_for('main')}}">홈홈홈</a>
      <!-- {{url_for('main_cate', category= '일식')}} -->
      <form action="{{url_for('main_cate', category=data1)}}">
        <input type="text" name="location" />
        <button type="submit">검색</button>
      </form>
    </header>


    <div class="container">
      {% for item in data %}
      <form action="{{url_for('delete_post')}}">
      <div class="item">
        <a href="{{ item.location_url }}" target="_blank">
          <img src="{{ item.image_url }}" alt="" />
        </a>
        <div>
          <h5>{{ item.name }}</h5>
          <h5>{{ item.description }}</h5>
          <a href ="#">#</a>
          <button type="submit">삭제</button>
          <input type="hidden" name="delete_id" value="{{ item.id }}">
        </div>
      </div>
      </form>
      {% endfor %}
    </div>

    <footer>footer영역</footer>

    
  </body>
</html>
